.site-pages-corporate{
    grid-template-columns: 1fr minmax(0, 220px) 20px minmax(0, 1000px) 1fr;
    grid-template-areas:
    ". LFT . RGH .";
    @include space(padding, top, 50px);
}

.user-info{
    display: none;
}

.ems-member-page-left {
    grid-area: LFT;
}

.ems-member-page-right {
    grid-area: RGH;
}

.ems-content-wrapper{ 
    //max-width: 810px;
    @include space(margin, left, 0);
    @include space(margin, right, auto);
    .title{
        @include space(padding, top, 12px);
        @include space(padding, bottom, 12px);
        display: block;
        margin-bottom: $small-30;
        border-bottom: 1px solid $e9-Gray;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $bold;
    }
    .hp-img{
        @include space(margin, top, $small);
        @include space(margin, bottom, $xlarge);
    }
    .content-text{
        font-size: $small-16 !important;
        line-height: 22px !important;
        color: $very-dark-g;
        @include space(padding, right, 50px);
    }
}

.site-pages-corporate{
    
    .ems-content-wrapper{
        .title{display: block;}
        padding: $reset;
    }
}