.user-info{
    background-image: linear-gradient(rgba(246,236,204,1) 40%,rgba(246,236,204,0) 100%);
    @include space(padding, all, 21px 20px);
    span{
        color: $very-dark-g;
        font-size: $small-15;
        margin-right: 5px;
        strong{
            font-family: $medium;
            font-weight: normal;
        }
    }
    a{
        display: block;
        font-size: 13px;
        float: right;
    }
}

.site-pages-corporate{
    .ems-content-wrapper{
        .title{display: none;}
        padding: $reset $small-10 $small-10 $small-10;
    }
}