/*===========================
Description : Corporate Lef Menu
*===========================*/

.icerikTemplateListeContainer,
.icerik_ratingbar {
    display: none;
}

.kutuSolMenuTree{

    .kutuFooterSolMenuTree,
    .kutuBodyDefault {
        display: none;
    }
    .sStylerMainWrp {
        display: none;
    }

    .kutuHeaderSolMenuTree{
        background: #f5f5f5;
        font-size: $small-15;
        color: #5a5a5a;
        font-family: $medium;
        padding: 20px;
    }
}

/* Corporate Slider Menu */
.site-pages-corporate {
    .category-widget{
        margin-bottom: $small-20;
        overflow: hidden;
        margin: 10px 0;
        .swiper-inner{
            overflow: visible;
        }
        .act.swiper-slide{
            a{
                position: relative;
                font-family: $bold;
                border-color: $color-5;
            }
        }
    }
}