.ems-page-default-password{
    padding: $small-20 $small-20 $small-20 $small-20;
    .ems-form-member-passImg {margin-bottom: 20px;}
    .pageDescDefault {display: none;}
    a.btnSifreGuncelle{
        display: block;
        padding: 17px 5px;
        text-transform: uppercase;
        //max-width: 220px;
        margin-top: $small-30;
        margin-left: auto;
        margin-right: auto;
    }
    .pageErrorUyeSifre {
        span[id$="lbfBasarili"] {
            padding: 12px;
            color: $color-31;
            background-color: $color-33;
            border:1px solid $color-31;
            margin-bottom: 20px;
            display: block;
            border-radius: 3px;
            position: relative;
            &:before {
                content: '\e906';
                font-family: 'icomoon';
                color: $color-31;
                font-size: 33px;
                float: left;
                margin-right: 10px;
            }
        }
        span[id$="lbfYanlisSifre"] {
            background-color: $color-35;
            border: 1px solid $color-34;
            color: $color-34;
            display: block;
            border-radius: 3px;
            padding: 12px;
            margin-bottom: 20px;
            &:before {
                content: '\e907';
                font-family: 'icomoon';
                font-size: 33px;
                float: left;
                margin-right: 10px;
            }
        }
    }
}