.ems-page-default-password{
    padding: $small-20 $small-20 $small-20 $small-20;
    .ems-form-member-passImg {margin-bottom: 20px;}
    .pageDescDefault {display: none;}
    a.btnSifreGuncelle{
        display: block;
        padding: 17px 5px;
        text-transform: uppercase;
        //max-width: 220px;
        margin-top: $small-30;
        margin-left: auto;
        margin-right: auto;
    }
}