.ems-page-default-favorites {
    .select-cfg{
        @include grid;
        grid-template-areas:
        "AA . CC BB";
        grid-template-columns: minmax(0,190px) 1fr minmax(0,220px) minmax(0,220px);
        grid-gap: 15px;
        align-items: center;
        margin-top: $small-25;
        text-align: inherit;

        > div{
            a.btnDefault{
                display: inline-block;
                width: 100%;
                max-width: inherit;
                margin-top: $reset;
            }
        }
        > .all-selected{
            a.btnDefault{
                width: auto;
            }
        }
    }
    
    .all-selected{grid-area:AA;}
    .add-selected{grid-area:BB;}
    .remove-selected{grid-area:CC;}
    .all-selected{
        a{
            text-align: left;
            padding: $reset;
            width: auto;
        }
        a:hover{
            color: $color-8;
        }
    }
    .remove-selected{
        a:hover{
            border-color: $color-8;
        }
    }
}

.site-pages-member{
    .ems-grid-default-favorites {
        border: none;
        border-radius: 0;
        .ems-grid-header:first-child{display: none;}
        .ems-grid-row {
            grid-template-columns: 20px minmax(0, 70px) 1fr minmax(auto, 120px) minmax(auto, 80px) minmax(auto, 120px) 40px;
            padding: 10px 0;
            grid-gap: 10px;
            min-height: inherit;
    
            .ems-grid-select {
                width: auto;
                position: inherit;
                bottom: inherit;
                left: inherit;
                margin-top: 0;
                max-width: inherit;
                .sStylerWrp_checkbox{
                    display: inline-flex;
                    align-items: center;
                    margin-right: 10px;
                    cursor: pointer;
                    background: $white;
                    .cStyler{
                        border: 1px solid $gray;
                        border-radius: 3px;
                        width: 17px;
                        height: 17px;
                        position: relative;
                        transition: all .2s ease;
                        min-height: auto;
                        max-height: none;
                        padding: 0;
                        &:before{
                            font-family:'icomoon';
                            content: "";
                            width: 15px;
                            height: 16px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all .2s ease;
                            font-size: 15px;
                            line-height: 17px;
                            color: $vivid-orange;
                        }
                        &.checked{
                            border-color: $color-4;
                            background: none;
                            &:before{
                                content:'\e906';
                            }
                        }
                    }
                }
            }
    
            .ems-grid-img {
                position: inherit;
                top: inherit;
                left: inherit;
                margin-top: inherit;
                width: inherit;
                height: inherit;
            }
    
            .ems-grid-name {
                a {
                    margin-right: $small-40;
                }
            }
            .ems-grid-piece{
                text-align: center;
                input{
                    text-align: center;
                }
            }
            .ems-grid-addCart{
                position: inherit;
                bottom: inherit;
                right: inherit;
                width: auto;
                max-width: inherit;
            }
            .ems-grid-remove {
                position: inherit;
                top: inherit;
                right: inherit;
                a.btnDefault{
                    i:before{
                        font-size: $small-30;
                    }
                }
            }
            &:last-child{
                border-bottom: 1px solid $color-6;
            }
        }
    }
}