.pageFavoriGrupListemWrp{
    .ems-new-favorite-group{
        text-align: right;
        padding-right: 20px;
        border-bottom: 1px solid $e9-Gray;
        margin-bottom: 30px;
        a{
            display: inline-block;
            font-size: $small-13;
            padding-top:$small-12;
            padding-bottom:$small-12;
            color: $cool-blue;
            &:before{
                font-family: 'icomoon';
                content: '\e90c';
                font-weight: normal;
                width: 25px;
                height: 35px;
                text-align: center;
                line-height: 32px; 
                font-size: $small-30;
                color: $color-18;
                display: inline-block;
                vertical-align: middle;
                margin-right: $small-5;
            }
            span{
                vertical-align: middle;
            }
        }
    }
}

/*====================
    Grid Row Layout
====================*/

.ems-grid-default-favorite-group{
    .uk-accordion-content{display: none;}
    .uk-accordion-title{
        > span{
            &.ems-grid-icon{display: none;}
        }
        .ems-grid-links{
            a{
                color: $color-36;
                font-size: $small-14;
                text-decoration: underline;
            }
        }
    }   
}