.kutuHeaderUyeDavet {
    display: block;
    padding-top: $small-18;
    padding-bottom: $small-18;
    margin-bottom: $small-30;
    border-bottom: 1px solid $e9-Gray;
    text-transform: uppercase;
}

.kutuBodyUyeDavet {
    padding: 0px;
}