/* =====================
Description: Grid Desktop
===================== */

.site-pages-member {
    .ems-page-default-message {
        padding: $reset;
    }
    .add-new-message {
        float: right;
        a{
            font-size: $small-12;
            text-decoration: underline;
            text-transform: none;
            font-family: $regular;
            color: $cool-blue;
            &:after{
                display: none;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    }

    /*Title Message*/
    .page-top-title.page-top-title-2 {
        display: block;
        padding: $small-12 $reset;
        text-align: left;
    }

    .page-top-title.page-top-title-2>span {
        display: inline-block;
    }
}

/*Message Send*/
.site-pages-member{
    .pageMesajGonder{
        padding: 0;
    }
}

/*====================
Grid Row Layout Desktop
====================*/

.site-pages-member {
    .ems-grid-default-message {
        padding: $reset;
    }

    
}