.ems-page-default-password{
    padding: $reset;
    @include grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "a a"
        "c b"; 
    .page-top-title {
        grid-area: a;
    }
    .ems-form-member-passImg {
        grid-area: b;
        margin-bottom: 20px;
    }
    .ems-form-member{
        grid-area: c;
        .ems-form-inner {
            display: block;
        }
        .ems-field{
            margin-bottom: 20px;
            input{
                //max-width: 330px;
            }
        }
    }
    a.btnSifreGuncelle{
        margin-top: $small-20;
        margin-left: 0;
        margin-right: 0;
    }
}