.swiper-container-member {
    overflow: hidden;
    //border-bottom: 1px solid $color-6;
    .swiper-inner {
        overflow: visible;
        margin: 10px 0;
    }

    .swiper-slide {
        width: auto;
        padding: 0 5px;

        >a {
            display: block;
            font-family: $regular;
            font-size: $small-15;
            text-align: center;
            padding:$small-13 $small-15;
            color: $color-24;
            border: 1px solid $color-4;
            border-radius: 5px;
        }

        &.selected {
            >a {
                font-family: $bold;
                border-color: $color-5;
            }
        }
    }
}

/* =====================
Description: Message Page Message Tab Menu
===================== */

.swiper-container-member.swiper-container-message-menu{
    margin-bottom: $small-20;
    border-bottom: none;
    .swiper-wrapper{
        flex-direction: inherit;
        display: flex;
        justify-content: space-between;
    }
    .swiper-slide{
        width: 100%;
        flex: 1;
        padding: 0;
        &:first-child{margin-left: 0;}
        a{
            font-family: $bold;
            font-size: $small-13;
            text-transform: uppercase;
            color: $dark-slate-blue;
            display:block;
            text-align: center;
            padding: $small-20 $small-20 !important;
            border: none;
            border-bottom: 3px solid $e9-Gray;
            border-radius: 0;
            white-space: nowrap;
        }
        &.selected{
            a{
                border-color: $color-5;
            }
        }
    }
}
