.blog-detail a.hBack {display:inline-block;}
.blog-page.blog-detail .navigasyon {padding-left: 20px;}


.blog-detail .blog-detail-container h1 {font-size: 42px;}
.blog-detail .blog-detail-container h2 {font-size: 28px;}
.blog-detail .sec-header span.blogCatText {font-size: 16px; margin-bottom: 25px;}
.blog-detail .sec-header span.blogDateText {font-size: 16px;}
.blog-detail .sec-header span.blogRead {font-size: 16px;}
.blog-detail .sec-header span.blogCont {font-size: 18px;}
.blog-detail .sec-header.sec-big-header:after {margin:30px auto; width:30px; height: 5px;}

.blog-detail .sec-text .text-wrap p {font-size:  16px;}


.blog-detail .sec-main-image .image-wrap {margin-bottom: 30px;}

.blog-detail .sec-video {max-width: 1600px; padding: 0 150px;}

.blog-post-item .item-text-wrap > div a.item-link i {font-size: 24px;}

.blog-post-item .swiper-slide {height: auto; width:33.333%;}

.blog-detail .sec-product .miss-opp-widget .swiper-pagination {display: none;}

 
 /*Benzer İçerikler*/

 .related-posts-holder .related-posts {padding: 0 100px;}
 .related-posts-holder .swiper-button-prev,.related-posts-holder .swiper-button-next {display:inline-block;}
 .related-posts-holder .item-text-wrap > div a.item-summary {display: -webkit-box; -webkit-line-clamp: inherit; -webkit-box-orient: vertical; overflow: visible;}

 section {padding: 0px;} 

 /* Doğum Çantası Kontrol Listesi */


 .maternity-bag-checklist {
     padding: 0;
 }
 .maternity-bag-checklist, .maternity-date {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .col1 {
        text-align: left;
        max-width: 480px;
        margin-bottom: 0px;
        > h1 {
            font-size: 54px !important;
            line-height: 54px;
            text-align: left;
        }
        > span {
            font-size: $small-22 !important;
            text-align: left;
        }
    }
    .maternity-bag-tab {
        justify-content: flex-start;
        .needs-tab {
            
        }
    }
 }

 /* Doğum Tarih Hesaplayıcı */

 .maternity-date-wrp {
    padding: 80px 20px 150px 20px;
    .col1 {
        margin-top: $small-50;
    }
 }
 .maternity-date {
    &-calc {
        display: flex;
    }
    &-reg {
        padding-right: 10px;
    }
    &-length {
        padding-left: 10px;
    }
 }