.grid-info-box {
    .grid-info-box-boxes {
        width: 100%;
        li {
            text-align: center;
            @include space(padding, all, $reset 5px $reset 30px);
            display: inline-block;
            vertical-align: top;
            max-width: 250px;
            width: 100%;
            border-right: 1px solid $color-4;

            >* {
                display: block;
                text-align: left;
            }

            i {
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                display: inline-block;
                float: left;
            }

            i,
            i:before {
                font-size: 80px;
            }

            i:before {
            }

            .fm-r,
            .fm-m {

            }

            .fm-b {
                margin-top: 25px;
            }
            &:last-child {
                border: 0;
            }
        }
    }
}