.grid-info-box {
    @include space(margin, left, $xxlarge);
    @include space(margin, right, $xxlarge);
    .grid-info-box-boxes {
        display: inline-block;
        /*@include grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;*/
        
        li{
            i{
                //@include space(margin, top, $large);
            }
        }
    }
}