.swiper-holder {
    overflow: hidden;

    &-home {
        background: url(/images/frontend/uygun-fiyat-cover.jpg) top left no-repeat;
        background-size: 100% 200px;
        padding-top: 35px;
        &.mt-30{
            margin-top: 30px;
        }
    }
}

.swiper-container {
    .swiper-slide {
        >a {
            display: block;
            position: relative;
        }
    }

    .swiper-inner {
        overflow: hidden;
    }

    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background: none;
        opacity: 1;
        background: $color-36;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -2px;
            top: -3px;
            border: 4px solid $cool-blue;
            padding: 3px;
            border-radius: 100%;
            opacity: 0;
            transition: opacity .333s ease-in-out;
        }
        &.swiper-pagination-bullet-active {
            background: $cool-blue;
            &:before {
                opacity: 1;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: inline-block;
        width: 40px;
        height: 44px;
        margin-top: 0;
        transform: translateY(-50%);
        background-image: none;
        background-color: $color-18;
        border-radius: 10px;
        text-align: center;
        i{
            line-height: 44px;
            &:before{
                font-size: 22px;
                color: $white;
            }
        }
    }
    .swiper-button-prev{
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }
    &.no-controls {

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }

    .p-absolute {
        @include Position(absolute, top 0 left 0);
        z-index: 1;
        width: 100%;
        height: 100%;
        background: $white;
        border: 1px solid $gray;
        &-alternate{
            color: $very-dark-gray;
        }
        .fs-22{
            font-size: 14px;
            min-height: 35px;
            overflow: hidden;
        }
        img{
            max-width: 100px;
            @include space(margin, top, $large);
            margin-top: 20px;
        }
    }

    &-you {
        .swiper-slide {
            width: 45%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .swiper-title {
            margin-bottom: $small-30;
        }

        .p-absolute {
            border-radius: 3px;
            @include space(padding, all, $small);
        }
        .icon-pages-1{
            @include space(margin, top, 30px);
            &:before{
                font-size: 40px;
                color: $vivid-orange;
            }
        }
        .hp-img{
            img{opacity: 0;}
        }
    }
    &-default{
        .swiper-pagination-bullets{
            bottom: inherit;
            left: inherit;
            position: relative;
            .swiper-pagination-bullet{
                @include space(margin, left, $small);
                @include space(margin, right, $small);
            }
        }
    }
    &-login{
        .swiper-pagination-bullets{
            .swiper-pagination-bullet{
                background: $color-20;
                border:transparent;
            }
            .swiper-pagination-bullet-active{background: $color-8;}
        }
    }
}