/* Component:       Widget And Widget Tab
========================================================================== */
.ems-tab {
    .ems-tab-menu-selecbox {
        display: none;
    }

    .content-js {
        >li {
            >a {
                display: none;
            }

            width: 0;
            height: 0;
            font-size: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            @include transition(opacity .2s ease);

            &.selected {
                display: block;
                width: 100%;
                height: 100%;
                font-size: inherit;
                overflow: visible;
                visibility: visible;
                opacity: 1;
            }
            &.no-result{
                .tab-widget{display: none;}
            }
            &.ajx-loaded.no-result{
                > .content{
                    &:before{
                        content: '';
                        width: auto;
                        height: 294px;
                        background: url(/images/frontend/card-empty.png) center center no-repeat;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }
                .ems-tab-footer{display: none;}
            } 
            > .content{
                margin-top: 40px;
            }
        }
    }
}

.ems-tab-header span, .widget-header span {
    font-family: $medium;
    font-size: $small-18;
    display: block;
    @include space(margin, bottom, 20px);
}

.widget {
    overflow: hidden;
    width: 100%;
    @include space(padding, left, $xs);
    @include space(padding, right, $xs);
    .swiper-slide{
        width: 75%;
    }
    .ems-prd-content{
        //border-bottom: 1px solid $pinkish-grey;
    }
    .swiper-inner{
        overflow: visible;
    }
    &-alternate{
        .swiper-inner{overflow: visible !important;}
    }
    &.results-found {
        .swiper-button-prev,  .swiper-button-next {
            display: none;
        }
    }
}

.widget-active{
    display: block;
}

.widget-header {
    text-align: center;
}

.system-widget {
    &.no-result {
        display: none !important;
    }
    @include space(padding, all, 0 50px);
    .swiper-inner {
        
        /*&:before {
            content: '';
            top: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%, white 100%);
            max-width: 90px;
            height: 100%;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }
        &:after {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 100%, white 100%);
            max-width: 90px;
            height: 100%;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }*/
    }
    .swiper-button-next, .swiper-button-prev {
        max-width: 150px;
        height: 100% !important;
        width: 100% !important;
        background: none !important;
        i {
            display: inline-block;
            width: 40px;
            height: 44px;
            margin-top: 0;
            @include vAlign;
            background-image: none;
            background-color: $color-18;
            border-radius: 10px;
            text-align: center;
            position: absolute;
            z-index: 4;
        }
        &.button-disabled {
            &:before {
                display: none;
            }
        }
    }
    .swiper-button-next {
        text-align: right !important;
        i {
            right: 10px;
        }
        &:before {
            content: '';
            top: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%, white 100%);
            max-width: 150px;
            height: 100%;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }
    }
    .swiper-button-prev {
        text-align: left !important;
        i {
            left: 10px;
        }
        &:before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 100%, white 100%);
            max-width: 150px;
            height: 100%;
            width: 100%;
            z-index: 3;
            pointer-events: none;
        }
    }
}

.all-view-button {
    max-width: 200px;
    @include space(margin, top, $xxlarge);
    @include space(margin, left, auto);
    @include space(margin, right, auto);

    .btnDefault {
        display: block;
    }
}


/* Media Query
========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .widget {
            //@include space(padding, left, $reset);
            //@include space(padding, right, $reset);
            @include space(margin, bottom, $large);
            overflow: visible;

            .swiper-slide{
                width: 100%;
                padding-bottom: 50px;
            }
            .ems-prd-content{
                border-bottom: none;
            }
            &-alternate{
                .emosInfinite {
                    @include grid;
                    grid-template-columns: repeat(4,1fr);
                    grid-gap: 20px;
                }
            }
        }

        .ems-tab-header span, .widget-header span {
            font-size: $small-20;
            @include space(margin, bottom, 50px);
        }

        .all-view-button {
            max-width: 230px;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .system-widget {
        padding: 0 20px;
        .swiper-button-next, .swiper-button-prev {
            display: none !important;
        } 
    }
}