.pnlDipToplamTable {
    border-collapse: collapse;

    tbody {
        tr {
            width: 100%;
            display: table;
            &.emos_invisible{display: none;}
            th,
            td {
                @include space(padding, all, $xs $reset);
                display: table-cell;
                vertical-align: middle;
            }

            th {
                text-align: left;
                font-weight: normal;
                font-size: $small-14;
                font-family: $medium;
            }

            td {
                text-align: right;
                font-size: $small-14;
                font-family: $medium;

                .pb1 {
                    display: inline-block;
                    padding-left: $small-5;
                }
            }
            &.pnlDipToplam_kdvToplam,
            &.pnlDipToplam_bankaKomisyon,
            &.pnlDipToplam_kulBankaBonus{
                display: none;
            }
        }

        .pnlDipToplam_sipToplam {
            margin-top: $small-20;
            th,
            td {
                vertical-align: bottom;
                font-size: $small-16;
                font-family: $bold;
                padding-top: $small-15;
            }

            small {
                font-family: $regular;
                font-size: $small-13;
                color: $color-26;
            }
            span.ib-el{
                margin-right:5px;
            }
        }
    }
}
.ems-cart-summary{
    padding: $small-20;
    background: $color-17;
    margin-top: $small-30;
    position: relative;
}

.ems-cart-summary-title{
    span{
        display: block;
        padding: $reset $reset $small-20 $reset;
        font-family: $bold;
        font-size: 18px;
    }
}

.ems-cart-summary-coupon-body {
    position: relative;
    display: block !important;
    input {
        width: 100% !important;
    }

    table {
        position: absolute;
        top: 2px;
        right: 5px;
        display: block !important;
    }

    .btnHediyeCekiKullan {
        background: none;
        padding: 0;
        border: 0;
        i:before {
            font-size: 50px;
            line-height: 40px;
            color: #8E8E8E;
        }

        &:hover {
            background: none;
        }
    }
    span[id$="lblHCK_HATA"]{
       /*color:$alert-error-color;
        background-color: $alert-error-background;
        border:1px solid $alert-error-color;
        display: block;
        padding: 12px;
        margin-top: 15px;
        border-radius: 3px;
        &:empty{display: none;}*/
        .ems-message-success {
            padding: 12px 0;
            &:before {
                top: 7px;
            }
        }
        .ems-message-error {
            background-color: $alert-error-background;
            border:1px solid $alert-error-color;
            color:$alert-error-color;
            display: block;
            border-radius: 3px;
            padding: 12px;
            &:before {
                content:'\e907';
                font-family: 'icomoon';
                font-size: 30px;
                top: 7px;
            }
        }
    }
}

.ems-cart-summary-coupon {
    margin-bottom: 20px;
    >span {
        font-size: $small-14;
        text-decoration: underline;
        cursor: pointer;
        display: block;
        @include space(padding, all, $small);
        @include Position(absolute, top 10px right 10px); 
    }
    &.opened {
        .ems-cart-summary-coupon-body {
            display: none;
        }
    }
    .ems-cart-cancel-coupon {
        margin-top: 10px;
        a {width:100%;}
    }
}

.ems-cart-summarybottom {
    a.btnDefault {
        display: block; 
        @include space(padding, top, $small-17);
        @include space(padding, bottom, $small-17);
        @include space(margin, top, $small-15);
        border-radius: 5px;
    }
    .ems-message {
        padding-left: $reset;
        &:before{
            display: none;
        }
    }
}

