/*
=========================================
    Teslimat Desktop Layout
*/
.ems-page-default-order-delivery {
    @include grid;
    grid-template-columns:10px minmax(auto, 850px) 50px minmax(auto, 350px);
    grid-template-rows: minmax(0, auto);
    grid-template-areas: ". A . B";

    .page-top-title {
        //width: 60%;
        span {
            font-size: $small-14;
        }
    }
    .add-new-address {
        right: 0px;
    }
}

.ems-page-delivery-left {
    grid-area: A;
    margin: 0px 0 30px 0;
    padding: 0; 
}

.ems-page-delivery-right {
    grid-area: B;
    padding-bottom: $small-30;
    margin-top: 53px; 
}