.ems-page-cart {
    .navbar-item-cart{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 55px;
        text-align: center;
        .icon-mb-card{
            @include Position(absolute, top 50% right 0 left 0);
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            margin-left: auto;
            margin-right: auto;
            &:before{
                content:'\e91b';
                font-size: $small-24;
                color: $color-8;
            }
            small{
                @include Position(absolute, top 8px right 0 left 0);
                margin-left: auto;
                margin-right: auto;
                font-size: 14px;
                color: #fff;
                font-family: $regular;
            }
        }
    }
    &-row-content {
        .swiper-container-bddk {
            display: block !important;
            margin-top: 20px;
        }
    }
    
}

.ems-cart-top {
    //display: none;
    &-inner {
        max-width: 1200px;
        @include space(margin, left, auto);
        @include space(margin, right, auto);
        @include space(padding, top, 6px);
        @include space(padding, bottom, 7px);

        >div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
        .logo{
            padding: $small-10 0 0 $small-20;
            float: left;
        }
    }

    &-menu {
        
    }

    .user-info {
        background: none;
        display: block;
        float: right;
        padding: $reset;
        > a{
            font-family: $medium;
            font-size: $small-15;
            position: relative;
            padding: $small-14 20px $small-14 0;
            line-height: 40px;
            img {
                width: 40px;
                float: right;
            }
            &:hover{
               
            }
        }
    }
}

.ems-page-cart-row-header {
    .swiper-container-bddk {
        display: none !important;
    }
}

.ems-page-cart-step0 {

    .ems-page-order-empty {
        text-align: center;
        .big-text-order {
            text-align: center;
            margin: 30px 0;
        }
    }
    .page-card-title {
        padding: 0 0 20px 20px !important;
    }
}

.basket-empty {
    .ems-page-cart-step0 {
        .cart-section-left-inner {
            padding: 0;
        }
        .ems-page-default-order-cart {
            grid-template-areas:
                ". LFT LFT LFT" 
                ". SLD RGH RGH";
        }
    }
    .cart-section-right, .swiper-container-card, .swiper-container-bddk {display: none;}
}


.grid-info-box-card {
    display: none;
    @include space(margin, left, $reset !important);
    @include space(margin, right, $reset !important);
}

.cart-section-left {
    @include space(padding, top, $small);
}

.ems-grid-default-cart {
    @include space(margin, top, $large);
}

.page-card-title{
    &:empty{display: none;}
}

.ems-page-cart {
    .btnAlisverisDevam {
        background: none;
        color: $color-5;
        font-size: $small-14;
        font-family: $bold;
        //margin-top: $small-10;
        padding: $small-16;
        &:before {
            content:'\e90e';
            font-family: 'icomoon';
            float: left;
            color: $bright-blue;
            margin-right: 5px;
            margin-top: 1px;
        }
        &:hover {
            background: none;
        }
    }
    .btnSepetBosalt {
        background: none;
        color: $color-5;
        font-size: $small-14;
        font-family: $bold;
        //margin-top: $small-10;
        float: right;
        padding: $small-16;
    }
}