.ems-cart-top {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-bottom: 20px;
}

.ems-page-cart {
    padding-bottom: $small-40;
    &-row-header {
        max-width: 1200px;
        margin: 20px auto;
    }

    &-row-content {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        .swiper-container-bddk {
            display: none !important;
        }
    }
    .navbar-item-cart{
        display: none;
    }
}

/*
=========================================
    Sepet
*/


.ems-page-cart-row-header {
    .swiper-container-bddk {
        display: block !important;
    }
}

.ems-page-cart-step0, .ems-page-guest-Checkout {
    .ems-page-default-order-cart {
        @include grid;
        grid-template-columns:10px minmax(auto, 850px) minmax(auto, 350px);
        grid-template-rows: minmax(0, auto);
        grid-template-areas:
            ". LFT RGH" 
            ". SLD SLD";
    }

    .cart-section-left {
        grid-area: LFT;
    }
    .cart-section-left-inner{
        padding-right: 50px;
    }
    .cart-section-right {
        grid-area: RGH;
        z-index: 2;
        margin-top: 47px; 
    }
    .swiper-container-card{
        grid-area: SLD;
        width: 100%;
        max-width: 1200px;
    }
    .page-card-title {
        padding: 10px 0 20px 0px !important;
    }
}


.ems-page-cart-step1 {
    .ems-cart-summary-title {
        span {
            border-bottom: 1px solid $e9-Gray;
            margin-bottom: 20px;
        }
    }
    .ems-cart-summary-coupon {display: none;}
    #validateTeslimat {
        margin-bottom: 40px;
    }

}


.cart-section-left {
    @include space(padding, top, $reset);
    @include space(padding, bottom, 50px);
}

.cart-section-right {
    position: relative;

    .sticky-anim {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        @include space(padding, all, $large);
    }
}

.grid-info-box-card {
    display: block;
    //border-top: 1px solid $gray;
    //@include space(padding, top, 20px);

    ul {
        max-width: 1200px;
        @include space(margin, left, auto);
        @include space(margin, right, auto);
    }
}

.ems-page-cart {
    .ems-cart-btn {
        border-bottom: 0;
    }
    .btnAlisverisDevam, .btnSepetBosalt {
        margin-top: $large;
        margin-left: $reset;
        @include space(padding, all, $reset);
        &:hover {
            background: none;
            color: $color-8;
        }
    }
}