table{
    border-collapse: collapse;
}

.tableOdemeTaksit{
    width: 100%;
    margin-top: $small-5;
    border-top: 1px solid $color-6;
    background: $white;
    tbody{
        tr.tableTitleOdemeTaksit{
            border-top: none;
            border-left: none;
            border-right: none;
            min-height: auto;
            display: none;
            td{
                padding-bottom: 10px;
                span{
                    color: $color-1;
                    opacity: .50;
                    font-size: $small-13;
                }
            }
        }
        tr:nth-child(2){
            
        }
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            min-height: 65px;
            td{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 33.333%;
                &:first-child{
                    width: 50px;
                }
                span{
                    font-size: $small-15;
                }
            }
            .sStylerWrp_radio{
                display: inline-block;
                margin-top: $small-5;
                float: right;
                cursor: pointer;
                .rStyler{
                    border: 1px solid $gray;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px; 
                    position: relative;
                    transition: all .2s ease;
                    display: inline-block;
                    &:before{
                        font-family:'icomoon';
                        content: "";
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        transition: all .2s ease;
                        line-height: 23px; 
                        color: $white;
                    }
                    &.checked{
                        border-color: $vivid-orange;
                        background: $vivid-orange;
                        &:before{
                            content: "\e906";
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
}

.pageOdemeBilgi_odemeTaksit{
    background: #f7f7f7;
    border: 1px solid $color-6;
    border-radius: 3px;
    text-align: center;
    img{width: auto; padding: 20px;}
    .pageOdemeBilgi_lbfOdemeBankaKampanyaNot,
    .btnBankaPromosyonUygula{display: none !important;}
}