/*
=========================================
    Description: Ödeme Desktop Layout
*/
.ems-page-default-order-payment {
    @include grid;
    grid-template-columns:10px minmax(auto, 850px) minmax(20px, 50px) minmax(300px, 350px);
    grid-template-rows: minmax(0, auto);
    grid-template-areas: ". A . B";

    .cart-section-left{
        /*Webkit scrolling*/
        ::-webkit-scrollbar {
            width: 3px;
        }
        ::-webkit-scrollbar-track {
            background: $pale-sky-blue;
        }
        ::-webkit-scrollbar-thumb {
            background: $bright-blue;
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: $bright-blue;
        }
    }
    .cart-section-left-inner{
        max-height: 330px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: $small-30;
    }
    .cart-section-right{
        height: 95%;
    }
    .big-text-order {
        display: block;
    }
}

.ems-page-payment-left{
    grid-area: A;
    padding: 10px $reset 45px $reset;
    .page-top-desc {
        span {
            font-size: $small-14;
        }
    }
    .tableTitleDefault {
        b {
            font-size: $small-14; 
        }
    }
}
.ems-page-payment-right{
    grid-area: B;
    margin-top: 45px;
    //padding-top: 25px;
    //padding-bottom: 25px;   
}


/*Ödeme Secenek*/
.ems-pay-credit-cart,
.ems-pay-other{
    padding-left: $reset;
    padding-right: $reset;
}

.ems-pay-credit-cart{
    > div{
        @include grid;
        grid-template-columns: 1fr 20px 1fr;
        grid-template-areas: 
        "TTD TTD TTD"
        "IZY IZY IZY"
        "TBL . CRT"
        "TKS . .";
        grid-template-rows: minmax(0,auto);
    }
    .tableTitleDefault {
        grid-area: TTD;
    }
    .ems-card-wrapper{
        grid-area: CRT;
        margin-top: $small-25;
        display: block;
    }
    .tableOdemeBilgiKrediKarti{
        grid-area: TBL;
    }
    .izy-saveCreditCard {
        grid-area: IZY;
        margin-bottom: 30px;
    }
    .pageOdemeBilgi_odemeTaksit {
        grid-area: TKS;
    }
}

/*Kredi Kart*/
.tableOdemeBilgiKrediKarti{
    max-width: 330px;
    .cvc {
        position: absolute;
    }
}

.ems-grid-payment-wrapper{
    grid-area:SPT;
}
.ems-cart-pay-adress{
    grid-area:ADR;
    background: $very-light-gray;
    padding: 20px;
    #plhTesAdrLabel, #plhFatAdrLabel {
        font-family: $medium;
        margin-bottom: $xs;
    }
}

.ems-cart-payment-header { 
    grid-area:HTT;
}

/*Adress*/
.ems-cart-pay-inner {
    .ems-delivery-address {
        background: $white;

        &.right{
            margin-bottom: $reset;
        }
    }
}