/*=======================
Description : Ödeme seçenek tab sekmesi
=======================*/
.ems-cart-pay-tab{
    ul{
        li{
            a{
                @include transition(all .2s ease);
                padding: $small-13 $small-20 $small-13 60px;
                font-size: $small-15;
                &:before{
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    left: 20px;
                    margin-top: -12px;
                    font-size: $small-20;
                    text-indent: 0px;
                }
                &.emos_selected{
                    &:before {
                        font-size: $small-20;
                    }
                }
                &:hover{
                    border-color: $vivid-orange;
                }
            }
        }
    }
}