/*Sozlesme Forms*/

.onBilgilendirmeForm,
.siparisOnaySozlesme {
    border-radius: 3px;
    border: 2px solid $color-4;
    padding: $small-14 $small-15;
    margin-bottom: $small-20;
    position: relative;
    text-transform: uppercase;
    &.opened {
        
        .tableTitleSiparisOnaySatisSozlesme{
            span{
                margin-bottom: $small-30;
            }
        }
        .tableTitleSiparisOnBilgilendirmeForm{
            span{
                margin-bottom: $small-30; 
            }
        }
        
    }
}

.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin {
    display: none;
    margin-left: $small-10;
    margin-right: $small-10;
    margin-bottom: $small-20;
    line-height: 25px;
    
    /*Webkit scrolling*/
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: $pale-sky-blue;
    }

    ::-webkit-scrollbar-thumb {
        background: $bright-blue;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: $bright-blue;
    }
}

.pageSiparisOnay_lbfOnBilgilendirmeForm,
.pageSiparisOnay_lbfSatisSozlesme{
    display: none;
}

.ems-cart-agreement{
    .tableTitleSiparisOnaySatisSozlesme{
        span{
            display: block;
            font-family: $regular;
            font-size: $small-13;
            margin-bottom: 0;
        }
    }
    .tableTitleSiparisOnBilgilendirmeForm{
        span{
            display: block;
            font-family: $regular;
            font-size: $small-13;
            margin-bottom: 0; 
        }
    }

    .tableTitleSiparisOnaySatisSozlesme,
    .tableTitleSiparisOnBilgilendirmeForm{
        border: 0;
        padding: 0;
        margin: 0;
        &:after{
            font-family: 'icomoon';
            content: '\e903';
            position: absolute;
            top: 50%;
            right: $small-10;
            width: $small-20;;
            height: $small-20;
            text-align: center;
            margin-top: -10px;
            line-height: $small-20;
            font-size: $small-13;
            color: $cool-blue;
        }
    }
    .ems-cart-agreement-mobile{
        display: block;
        padding-top: $small-10;
        .pageSiparisOnay_lbfOnBilgilendirmeForm,
        .pageSiparisOnay_lbfSatisSozlesme{
            display: block;
        }
    }
}

.onBilgilendirmeFormMetin {
    >span {
        display: inline-block;
        height: 340px !important;
        max-height: 340px;
        padding-right: $small-20;
        overflow: inherit !important;
        overflow-y: scroll !important;

        * {
            font-size: $small-13;
        }
    }
}

.siparisOnaySozlesmeMetin {
    >span {
        height: 340px !important;
        display: inline-block;
        max-height: 340px;
        padding-right: $small-20;
        overflow: inherit !important;
        overflow-y: scroll !important;

        * {
            font-size: $small-13;
        }
    }
}

.pageSiparisOnay_chkSatisSozlesme,
.pageSiparisOnay_chkOnBilgilendirmeForm{
    @include space(padding, top, $small-10);
    @include space(padding, bottom, $small-10);
    @include space(padding, left, $small-30);
    position: relative;
    > span{
        display: inline-block;
        vertical-align: middle;
        font-size: $small-15;
    }
    .checkbox{
        @include Position(absolute, top 50% left 0);
        @include space(margin, top, -9px);
    }
    .btnSozlesme,
    .btnOnbilgi{
        text-decoration: underline;
    }
}

.pageSiparisOnay_btnSatisSozlesmeOnizle,
.pageSiparisOnay_btnOnBilgilendirmeFormOnizle {
    display: none;
}

.siparisOnaySozlesme.opened,
.onBilgilendirmeForm.opened{

    .siparisOnaySozlesmeMetin,
    .onBilgilendirmeFormMetin{display: block;}

    .tableTitleSiparisOnaySatisSozlesme:after,
    .tableTitleSiparisOnBilgilendirmeForm:after{
        content:'\e918';
    }
}

.btnSatisSozlesmeOnizle,
.btnOnBilgilendirmeFormOnizle {
    @include btnReset;
}