/*=======================
Description : Ödeme seçenek tab sekmesi
=======================*/

.ems-cart-pay-tab{
    ul{
        margin-bottom: $small-30;
        li{
            display: inline-block;
            vertical-align: middle;
            margin-right: $small-10;
            margin-top: $small-10;
            a{
                border-radius: 3px;
                display: block;
                border:1px solid $color-4;
                font-size: $small-13;
                font-family: $regular;
                padding: $small-13 $small-10 $small-13 $small-40;
                position: relative;
                span {
                    color: $color-36;
                }
                &:before{
                    font-family:'icomoon';
                    content:'';
                    border:1px solid $gray;
                    width: 16px;
                    height: 16px;
                    line-height: 15px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    margin-top: -8px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 100%;
                    text-indent: -1px;
                }
                &.emos_selected{
                    border-color: $vivid-orange;
                    color: $color-1;
                    font-family: $medium;
                    span {
                        color: $dark-slate-blue;
                    }
                    &:before{
                        content:'\e906'; 
                        background: $vivid-orange;
                        font-size: $small-14;
                        color: $white;
                        border-color: $vivid-orange;
                    }
                }
            }
        }
    }
}