.ems-cart-agreement{
    @include grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "AA"
    "BB";
    grid-template-rows: minmax(0,auto);
    //border-top:1px solid $color-30;
    margin-top:$small-40;
    padding-top:$small-10;
    
    .siparisOnaySozlesme, .onBilgilendirmeForm {
        border-width: 1px;
        text-transform: none;
    }
    .siparisOnaySozlesme {
        grid-area:AA;
        padding: $small-28;
    }
    .onBilgilendirmeForm {
        grid-area:BB;
        padding: $small-28;
    }
}

.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin{
    display: block;
    margin-left: $reset;
    margin-right: $reset;
    margin-bottom: $reset;
}

.ems-cart-agreement{
    .tableTitleSiparisOnaySatisSozlesme{
        margin-bottom: $small-30;
        span{
            font-family: $bold;
            font-size: $small-16;
        }
    }
    .tableTitleSiparisOnBilgilendirmeForm{
        margin-bottom: $small-30;
        span{
            font-family: $bold;
            font-size: $small-16;
        }
    }
    .tableTitleSiparisOnaySatisSozlesme,
    .tableTitleSiparisOnBilgilendirmeForm{
        &:after{
            display: none;
        }
        span{
            border-top: none;
            padding-left: $reset;
            padding-right: $reset;
        }
    }
    .ems-cart-agreement-mobile{display: none;}
}

.ems-page-payment-right{
    .pageSiparisOnay_lbfOnBilgilendirmeForm{
        margin-top: $small-15;
    }
    .pageSiparisOnay_lbfOnBilgilendirmeForm,
    .pageSiparisOnay_lbfSatisSozlesme{display: block;}
}