/*
=========================================
    Description: Ödeme Product grid and Delivery Address Default
*/

.ems-cart-payment-trigger,
.payment-cart-open-trigger{
    display: block;
    border-radius: 3px;
    border: 2px solid $color-4;
    padding: $small-14 $small-15;
    margin-bottom: $small-20;
    font-family: $regular;
    position: relative;
    //border-top:2px solid $color-30;
    span {
        font-size: $small-13;
        font-family: $regular;
    }
    &:after{
        font-family: 'icomoon'; 
        content:'\e903';
        position: absolute;
        top: 50%;
        right: $small-10;
        width: $small-20;;
        height: $small-20;
        text-align: center;
        margin-top: -10px;
        line-height: $small-20;
        font-size: $small-13;
        color: $cool-blue;
    }
}

.ems-cart-payment-header {
    display: none;
    span > span {
        display: block;
        border-bottom: 1px solid $color-4;
        padding-left: 0px;
        margin-bottom: 30px;
    }
}

.ems-cart-payment-wrapper{
    margin-top: $small-20;
}

.ems-grid-payment-wrapper{
    .ems-grid-default-cart{
        display: none;
        margin-top: $reset;
        margin-bottom: $small-10;
        border-top: none;
        .ems-grid-header:first-child {
            display: none;
        }
        .ems-grid-row{
            border-bottom: none;
        }
        .ems-grid-piece{display: none;}
        .ems-grid-subscriptions .abonelikUrun{
            //border: none;
            padding: $xs;
            text-align: left;
            *{
                font-size: $small-13;
            }
        }
    }
}
.ems-grid-payment-wrapper.opened{
    .ems-grid-default-cart{
        display: block;
    }   
    .payment-cart-open-trigger{
        &:after{
            content:'\e918';
        }
    }
}

.ems-cart-pay-adress{
    .ems-cart-pay-inner{
        display: none;
        padding-left: $small-10;
        padding-right: $small-10;
    }
}
.ems-cart-pay-adress.opened{
    .ems-cart-pay-inner{
        display: block;
    }
    .ems-cart-payment-trigger{
        &:after{
            content:'\e918';
        }
    }
}