.ems-grid-default {

    .ems-grid-header,
    .sStylerWrp_select {
        display: none;
    }
}

.page-card-title{
    @include space(padding, top, $small-10);
    @include space(padding, bottom, $small-10);
    @include space(padding, left, $small-15);
    border-bottom: 1px solid $color-4;
    span {
        font-size: $small-13;
    }
}
.ems-grid-default-cart {
    //border-top: 1px solid $color-4;
    margin-top: 0;
    .ems-grid-row {
        display: inline-block;
        width: 100%;
        position: relative;
        @include space(padding, all, $small-20 $small-30 $small-20 120px);
        border-bottom: 1px solid $color-4;
    }

    .ems-grid-img {
        position: absolute;
        left: 20px;
        width: 80px;
        height: 80px;
        top: 10px;
        margin: 0;
    }
    .ems-grid-piece {
        text-align: left;
    }
    .ems-grid-piece-wrapper {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        >span {
            &:empty {
                display: none;
            }
        }

        input {
            border-width: 0px !important;
            width: 55px !important;
            padding: 2px 10px !important;
            text-align: left;
            font-family: $medium;
            color: $dark-slate-blue;
            display: none;
        }
        .sStylerWrp_select {
            display: inline-block;
            .sStylerWrp {
                font-size: $small-12;
                font-family: $bold;
                color: $dark-slate-blue; 
                border: 0;
                background: none;
                padding: 10px 36px 10px 0px;
                .sStyleHolder {
                    span {
                        &:after {
                            content: 'Adet'
                        }
                    }
                }
            }
        }
        .ems-grid-add-remove {
            display: none;
        }
    }
    .brFiyat,
    .satBrFiyat, 
    .brutFiyat,
    .netFiyat,
    .topFiyat{ 
        white-space: nowrap;
        &:before {
            content: '₺';
            @include space(margin, right, -4px);
        }
    }

    .brutFiyat, .topFiyat {
        font-size: $small-14; 
        text-decoration: line-through;
    }
    .brutFiyat{}
    
    .brFiyat {
        font-size: $small-14;
        text-decoration: line-through;
    }
    .satBrFiyat {
        font-size: $small-14;
        font-family: $medium;
    }

    .netFiyat {
        font-size: $small-14;
        font-family: $bold;
    }

    .ems-grid-price {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        > div {
            display: inline-block;
            vertical-align: middle;
        }
        .dvSepetKazancOran {
            display: block;
        }
        .sepet_KazancOran {
            display: block;
            border-radius: 3px;
            background: $color-8;
            color: $white;
            font-size: $small-14;
            font-family: $bold;
            height: 30px;
            line-height: 30px;
            @include space(padding, all, 2px $xs);
            @include space(margin, right, $small);
            &:empty{display: none;}
            &:before {
                content: '%';
                display: block;
                color: $white;
                font-size: $small-14;
                font-family: $bold;
                float: left;
            }
        }
    }

    .ems-grid-price-total {
        //margin-top: $small-10;
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        >div {
            display: inline-block;
            vertical-align: middle;
        }
        .dvSepetKazancOran {
            display: none;
        }
        .discountRatio {
            display: none;
        }
    }

    .ems-grid-name{
        br{display: none;}
        a{
            display: block;
            font-size: $small-12;
            margin-right: $small-10;
            font-family: $medium;
            > span{
                &:empty{display: none;}
            }   
        }
        .urnKisaAd{display: none;}

        .prom_ad{
            margin-right: $small-5;
        }
        .prom_ad,
        .prom_indtutar{
            margin-top: 1px;
            color: $color-18;
            display: inline-block;
            vertical-align: middle;
            &:empty{display: none;}
        }
        span{
            ul li{
                margin-top: $small-5;
            }
        }
    }

    .ems-grid-add-remove{
        position: absolute;
        top:8px;
        right: 10px;
        >a {
            width: 10px;
            height: 16px;
            text-align: center;
            display: block;
            margin-top: 2px;
            margin-bottom: 2px;
            i {
                line-height: 12px;
    
                &:before {
                    font-size: 24px;
                    color: $dark-slate-blue;
                }
            }
        }
    }

    .ems-grid-subscriptions {
        float: right;
        margin-top: $small-10;
        text-align: left;
        width: 100%;
        &:empty{display: none;}
        .baslik {
            display: none;
        }

        .abonelikUrun {
            display: inline-block;
            border-radius: 3px;
            border: 1px solid $color-18;
            @include space(padding, all, $small);

            * {
                color: $color-18;
                font-size: $small-14;
            }
        }
    }
    .ems-grid-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        &:empty{display: none;}
        >a {
            width: 25px;
            height: 25px;
            text-align: center;
            display: inline-block;
        }

        i {
            line-height: 25px;

            &:before {
                font-size: 30px;
                color: $color-18;
            }
        }
    }
}

/*======================
Grid Row Stock Empty
======================*/
.gridSepetStok{
    display: none;
}