.ems-lookbook {
    &-title {
        text-align: left;
        span {
            &:after{
                height: 6px;
            }
        }
    }
    &-parallax {
        padding: 0px;
    }
    &-slider {
        max-height: 350px;
        &-content {  
            margin: 0px auto;
            @include vAlign;
            position: absolute;
            left:0;
            right:0;
            text-align: left;
            span {
                color: $color-5;
                font-size: 44px;
            }
            p {
                max-width: 550px;
                font-size: 20px;
            }
        }
    }
}

/* Kombin Swiper */

.swiper-container-lookbook {
    padding: 0;
    .swiper-inner {overflow: visible;}
    ul {
        transform: none !important;
        flex-wrap: wrap;
        li {
            margin: 0;
            padding: 0;
            text-align: left;
            width: 25% !important;
        }
    } 
}