.navbar-main-mobile-header {
    width: $width100;
    background: $white;
    border-bottom: 1px solid $egg-shell;
    @include space(padding, top, $small);
    @include space(padding, right, $small);
    @include space(padding, bottom, $small);
    @include space(padding, left, $small);
    position: relative;
    z-index: 1;
    img{
        width: 40px;
        float: left;
    }
}

.btnMember  {
    img {width:40px; float: left;}
    line-height: 40px;
    color: $dark-slate-blue;
}

.navbar-main-mobile-footer {
    @include Position(absolute, bottom 0 left 0);
    width: $width100;
    z-index: 1;
    

    ul {
        @include table-row;
        table-layout: fixed;
        @include space(padding, all, 12px 0);
        background: #fafafa;

        li {
            width: 33.333%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #eae0e0;
            i {
                display: block;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                @include space(margin, right, auto);
                @include space(margin, left, auto);
                @include space(margin, bottom, 5px);

                &:before {
                    font-size: 20px;
                    color: #535353;
                }
            }
            &:last-child {
                border: 0;
            }
            a {
                @include space(padding, all, 5px 0);
            }
        }
    }
    &-social {
        @include space(padding, all, 5px 0);
        text-align: center;
        a {
            font-size: 55px;
            color: #4ebdff;
        }
    }
}

.navbar-main {
    .mobi-close-btn {
        right: 20px;
        z-index: 9;
        position: absolute;
        .icon-close {
            display: inline-block;
            &:before {
                font-size: 40px;
                color: #f67bb4;
            }
        }
    }
    .leaf {
        display: none;
    }
    >ul {
        @include space(padding, all, 0px 20px); 
        height: calc(100% - 177px);
        width: 100%;
        overflow-y: auto;
        position: absolute;
        -webkit-overflow-scrolling: touch;
        /*Webkit scrolling*/
        &::-webkit-scrollbar { 
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: $pale-sky-blue;
        }
        &::-webkit-scrollbar-thumb {
            background: $bright-blue;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: $bright-blue;
        }
        >li {
            >a {
                display: block;
                font-family: $medium;
                font-size: $small-15;
                position: relative;
                color: $dark-slate-blue;
                @include space(padding, all, 16px 7px 16px 7px);
                border-bottom: 1px solid $pale-sky-blue;
                i {
                    @extend .btn-absolute;
                    left: 20px;
                    line-height: 32px;

                    &:before {
                        font-size: $small-26;
                        color: #535353;
                    }
                }
            }

            &.dark-link {
                border-bottom: 1px solid #cecece;
                background: $very-light-gray;

                >a {
                    font-family: $medium;
                    @include space(padding, all, 16px 20px);

                    &:after {
                        display: none;
                    }
                }
            }
            &.sub-menu {
                > a {
                    &:after {
                        font-family: 'icomoon';
                        content: '\e915';
                        position: absolute;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 30px;
                        color: $cool-blue;
                        display: inline-block;
                        text-align: center; 
                    }
                }
            }
        }
    }

    /*Mobile Menu Link Controllers*/
    .sub-nav-header-menu{
        height: calc(100% - 145px);
        overflow-y: auto;
        width: 100%;
        top: 60px;
        left: 0;
        /*position: absolute;*/
        > ul {
            li{
                /*border-top: 1px solid #eaeaea;*/
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
    >ul.selected {
        .navbar-main-mobile-header {
            display: none;
        }

        .sub-menu.selected {
            >a {
                &:after {
                    content: '\e911';
                }
            }
        }
    }

    ul {

        li.ems-hide,
        .sub-nav-header-menu {
            display: none;
            transform: translateY(0px);
            animation: menuSlideDown .6s cubic-bezier(0.23,1,0.32,1)
        }
    }

    .level-1 {
        @include space(padding, all, 0px $xs);
        .level-2-wrapper {
            display: none;
        }
        > li{
            > a{
                @include space(padding, all, 10px 0px);
                font-size: $small-14;
                font-family: $medium;
            }
        }
    
        img {
            display: none;
        }
    }
    .level-2 {
        > li{
            > a{
                @include space(padding, all, 5px 0px 5px 10px);
            }
        }
    }

    >ul>li.sub-menu.selected {
        .sub-nav-header-menu {
            @include flex;
            transform: translateY(0px);
            animation: menuSlideDown .6s cubic-bezier(0.23,1,0.32,1);
        }
    }
    .level-1{
        > li.sub-menu.selected{
            > a{
                /*position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 82%;*/
            }
        }
    }

    .level-1 {
        >li.sub-menu.selected {
            .level-2-wrapper {
                display: block;
            }
        }
    }
    .level-3{
        ul li a{
            display: block;
            @include space(padding, all, 16px 20px);
        }
    }
}

html{
    height: 100%;
}
body{
    &.mobi-menu-ready{
        @include mobi-body-render;
    }
}

@keyframes menuSlideDown {
    0% {
        display:none;
        transform: translateY(-15px);
        opacity:0;
    }

    1% {
        display: block;
        transform: translateY(-15px);
        opacity:0;
    }

    100% {
        transform: translateY(0px);
        opacity:1;
    }
}