.site-header{
    width: 100%;  
    //@include Position(fixed, top 0);  
    @include Position(sticky, top 0);
    position: -webkit-sticky;
    z-index: 20;
    border-bottom: 1px solid $color-4;
    background: $white;
    .medium-small{
        font-family: $medium;
        font-size: $small-15;
        color: $dark-slate-blue;  
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .xs-icons{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        vertical-align: middle;
        &:before{
            color: $white;
            font-size: $small-40;
        }
        &.icon-mini-bag:before{
            content:'\e918';
        }
    }
    .icon-mb-card{
        small{display: none;}
    }
    .navbar-item{
        &-mobile {
           
        }
        &-mblogo {
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
        &-mbsearch {
            float: left;
        }
        &-mbBack {
            float: left;
            font-size: 40px;
            position: absolute;
            top: 12px;
            left: 10px;
            z-index: 1;
            background: #fff;
            display: none; 
            a {display: inline-block;}
            i {
                color: $bright-blue;
            }
        }
        &-member {
            float: right;
            display: none;
        }
        &-cart {
            float: right;
        }
        &-hamburger {
            float: right;
        }
    }
    .navbar-item-logo{
        width: 40%;
        @include space(padding, all, $xMedium $xs $xMedium $xs);
        vertical-align: middle;
        display: none;
        h1 img{height:30px;}
    }
    .navbar-item-mini-member{
        width: 100%;
        vertical-align: middle;
        background: $white;
        @include space(padding, all, $small);
    }
}