.urunKiyaslamaOzellik_ozellikAd {
    font-family: $medium;
    font-size: $small-16;
    border: 0;

    &:before {
        content: '';
        @include Position(absolute, top 50% right 0);
        width: 1px;
        height: 32px;
        background: #d5d6dc;
        margin-top: -16px;
        display: none;
    }
    &:after{
        right: 20px;
    }
    .mobile-element{
        font-size: $small-13;
        display: none;
    }
}
.urunKiyaslamaOzellik_ozellik.activeted{
    .urunKiyaslamaOzellik_ozellikAd{
        background: $white;
        &:before{display: none;}
    }
}

.kutuBodyOzellikFiltre {
    >table {
        >tbody {
            display: inline-block;
            width: 100%;
            table-layout: fixed;

            >tr {
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                border-bottom: none;
                >td {
                    display: block;
                    position: relative;
                }
            }
        }
    }
}

.grid-colmn-feature-filter {
    padding: 0 10px;
}

.urunKiyaslamaOzellik_ozellik {

    .urunKiyaslamaOzellik_ozellikIcerik {
        >table {
            width: 100%;
            tbody{
                @include space(padding, left, $xs);
                @include space(padding, right, $xs);
            }
        }

        @include Position(static, top 50px left 0);
        z-index: 2;
        width: $width100;
        background: $white;

        a.urunKiyaslamaOzellik {
            color: $very-dark-gray;
            font-size: $small-14;
            @include space(padding, top, 7px);
            @include space(padding, bottom, 7px);
        }
    }
}

/* Ürün Liste Kategori */

.grid-colmn-categori {
    .kutuOzellikFiltre {
        padding-left: 50px;
        display: block;
        .urunKiyaslamaOzellik_ozellik {
            .urunKiyaslamaOzellik_ozellikAd {
                @include space(padding, all, 9px 9px 9px 12px);  
                &:after {
                    content: '\e915';
                    left: -40px; 
                    color: $cool-blue;
                    font-size: 40px;
                    right: auto;
                    top: auto;
                    width: auto;
                    height: auto;
                } 
            }
            &.activeted {
                 .urunKiyaslamaOzellik_ozellikAd {
                     &:after {
                         content: '\e911';
                     }
                 }
            }
        } 
    }
}
