.site-pages-login{
    //background-image: linear-gradient(rgba(254, 240, 235, 0) 15%,rgba(254,240,235,1) 50%);
    grid-template-columns: 1fr minmax(auto, 700px) 4% minmax(auto, 400px) 1fr;
    grid-template-areas:
    ". A A A ."
    ". . . B ."
    ". C . D .";
    @include space(padding, all, 50px $small 50px $small);
    .logo{
        height: 50px;
    }
    .login-title{
        max-width: 380px;
        position: relative;
        z-index: 2;
        @include space(margin, top, 70px);
        @include space(margin, left, auto);
        @include space(margin, right, auto);
        @include space(padding, left, $reset);
        @include space(padding, right, $reset);
        h2{
            width: 80%;
            font-size:$small-27;
            @include space(margin, top, 40px);
            @include space(margin, bottom, $xSmall);
            @include space(margin, left, auto);
            @include space(margin, right, auto);
        }
        h3{
            font-size:$small-18;
        }
    }
    .ems-signup-header{
        > span{
            /*@include grid();
            grid-template-areas: ". BTN";
            grid-template-columns: 1fr 1fr;
            align-items: center;*/
        }
        .ems-login-tab{
            text-align: right;
            @include space(margin, bottom, $reset);
        }
    }
    .swiper-container{
        @include space(margin, top, -45px);
    }
    .ems-page-member-login{
        //@include space(margin, top, -85px);
    }
    .member-login-body{
        @include space(padding, left, $small);
        @include space(padding, right, $small);
    }
    .ems-form-inner{
        .sign-or{
            > span{
                @include space(margin, top, 40px);
            }
        }
    }
    .logo{
        text-align: left;
        img{
            max-width: 147px;
        }
    }
    .column-double{
        width: inherit;
    }
}

.member-login-header {
    > span{
        font-size: 32px;
        @include space(padding, left, $small);
        @include space(padding, right, $small);
        font-size: $small-24;
    }
}

.member-login-box{
    /*background: $white;
    border: 1px solid $da-light-gray;
    border-radius: 3px;*/
}

/* Login Signin Image */

.ems-login-img {
    display: block;
}

.ems-form-guest {
    @include space(padding, all, $reset $small);
}