.product-tab-wrap{
    //@include space(padding, all, $large);   
}

.ems-tab-detail-product{
    position: static;
    height: auto;
    @include space(margin, all, 15px 0 45px 0);
    &.item-1 { 
        .product-tab-head {
            li{
                &.tab-1 {
                    background: $gray;
                    color: $white;
                }
            }
        }
    }
    &.item-2 { 
        .product-tab-head {
            li{
                &.tab-1 {
                    background: $gray;
                    color: $white;
                }
                &.tab-2 {
                    background: $gray;
                    color: $white;
                }
            }
        }
    }
}

.product-tab-head {
    li {
        &.tab-1 {
            &:after {
                content:'';
                position: absolute;
                width: 7px;
                height: 100%;
                right: -4px;
                top: 0;
                z-index: 1;
                background: $white; 
                display: block;
            }
            &:before {
                height: 5px !important;
            }
            .ems-detail-subscriber-lbl { 
                display: none;
            }
            .urunDetay_KazancOran {
                display: block;
            }
            .ems-detail-price-right {
                display: block;
            }
            .ems-detail-price {
                width: auto;
            }
            .tab-btn {
                padding-top: 12px;
            }
        }
        &.tab-2 {
            &:after {
                content:'';
                position: absolute;
                width: 7px;
                height: 100%;
                left: -4px;
                top: 0;
                z-index: 1;
                background: $white; 
                display: block;
            }
            &:before {
                height: 5px !important;
            }
        }
    }
}

.ems-subscriber {
    &-info{top:20px;}
}

.ems-prd-fixed-area {
    overflow: visible;
    &-closed {
        display: none !important;
    }
}
body.ems-product-tab-ready {
    overflow-y: scroll;
    position: static;
    .ems-prd-fixed-area {
        @include Position(static, null);
        padding-top:0; 
        &-top {
            padding-top:0;
        }
        .yorumOku {
            display: inline-block;
        }
    }
    .product-tab-head li.tab-1.selected:after {
        display: none;
    }
    .product-tab-head li.tab-2.selected:after {
        display: none;
    }
}