.ems-tab-detail-product{
    position: fixed;
    z-index: 9;
    height: 67px;
    bottom: 0;
    opacity: 0;
    &.ems-tab {
        .content-js {
            > li {
                display: none;
                &.selected {
                   display: block;
                }
            }
        }
    }
    &.item-1 { 
        .product-tab-head {
            li{
                &.tab-1 {
                    background: $vivid-orange; 
                    &:before {
                        content: '';
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $vivid-orange;
                    }
                    .urunDetay_KazancOran {
                        background: $vivid-pink; 
                        color: $white; 
                    }
                    &.selected {
                        background: $light-green;
                    }
                }
            }
        }
        .content-js {
            > li.tab-1 {
                display: block;
                width: 100%;
                height: 100%;
                font-size: inherit;
                overflow: visible;
                visibility: visible;
                opacity: 1;
                padding: 20px;
            }
        }
    }
    &.item-2 { 
        .product-tab-head {
            li{
                &.tab-1 {
                    background: $vivid-orange; 
                    &.selected {
                        background: $light-green;
                    }
                }
                &.tab-2 {
                    background: $color-18; 
                    &.selected {
                        background: $light-pink;
                    }
                }
            }
        }
    }
    &.item-1, &.item-2 {
        opacity: 1;
    }
}

.ems-subscriber {
    &-info{
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 1;
        border: 2px solid $dark-slate-blue;
        border-radius: 100%;
        font-size: 30px;
        color:$dark-slate-blue;
        width: 21px;
        height: 21px;
        .icon-question {
            &:before{
                position: relative;
                top: -6px;
                left: -6px;
            } 
        }
        &:hover {
           background: $dark-slate-blue;
           color: $white;     
        }
        &-pp {
            padding: 30px;
            .swiper-title {
                font-size: 24px !important;
            }
            .swiper-wrapper {
                display: block;
                transform: none;
                .swiper-slide {
                    width: 100% !important;
                }
                .spc-text {
                    width: 100%;
                    max-width: none;
                    strong {
                        font-size: 15px;
                    }
                    img {float: left; margin-right: 20px;}
                }
            }
        }
    }
    &-pp {
        .ems-subscriber-pp {
            max-width: 480px !important;
        }        
    }
    &-col {
        .ems-grid-piece {
            display: none;
        }
    }
}



.product-tab-head { 
    @include table-cell;
    table-layout: fixed;

    li{
        min-width: 50%;
        background: $dark-gray ;
        position: relative;
        cursor: pointer;
        a{
            &:empty{display: none;}
        }
        -webkit-box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.3);
        &.selected {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    li {
        &.tab-1 {
            background: $gray;
            color: $white;
            .tab-btn {
                padding-top: 15px;
            }
            .urunDetay_KazancOran {
                display:none;
            }
            .ems-detail-price-right {
                @include flex;
                justify-content: space-between;
            }
            .ems-detail-price {
                width: 100%;
            }
        }
        &.tab-2 {
            background: $gray;
            color: $white;
            .tab-btn {
                @include flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                .ems-detail-subscriber-lbl {
                    width: 100%;
                }
                .ems-detail-monthlysub {
                    flex: 50%;
                    opacity: 0.7;
                    line-height: 13px;
                    &:empty {
                        display: none;
                    }
                }
                .ems-detail-subscriber-price {
                    flex: 50%;
                }
            }
        }
    }
    li.tab-1.selected{
        border-top-color: $color-18;
        background: $light-green;
        .ems-detail-subscriber-lbl {
            color: $vivid-orange;
        }
        .urunDetay_KazancOran {
            background: $vivid-pink; 
            color: $white; 
        }
        .ems-detail-price-right {
            color: $dark-slate-blue;
        }
        &:before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background: $vivid-orange;
        }
    }
    li.tab-2.selected{
        border-top-color: $color-18;
        background: $light-pink;
        .ems-detail-subscriber-lbl {
            color: $color-18;
        }
        .ems-detail-subscriber-price, .ems-detail-monthlysub {
            color: $dark-slate-blue;
        }
        &:before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background: $color-18;;
        }
    }
    .tab-btn{
        @include space(padding, all, $xMedium $large $small $large);
        min-height: 50px;
    }
}

.ems-tab-detail-product.ems-no-subscriptions{
    .product-tab-head li:after{/*display: none;*/}
}
.product-tab-wrap{
    > li {
        &.selected {
            @include space(padding, all, $large); 
        }
        &.tab-1{
            background: $light-green;
        }
        &.tab-2{
            background: $light-pink;
        }
    }
    
}

.icon-info-detail{
    vertical-align: middle;
    @include space(margin, right, $xMedium);
    &:before{
        font-size: 20px;
        color: #1f1f1f;
    }
}

/* Fixed Area */

.ems-prd-fixed-area {
    @include Position(relative, null);
    max-height: 100%;
    overflow-y: auto;
    &-closed {
        display: none;
        @include Position(absolute, right 10px top 10px);
        font-size: 35px;
        color: $bright-blue;
        cursor: pointer;
    }
    &-top {
        @include space(padding, bottom, $xlarge); 
    }
    &::-webkit-scrollbar-track
    {
        background: $pale-sky-blue;
    }

    &::-webkit-scrollbar
    {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb
    {
        background: $bright-blue;
    }
}

body.ems-product-tab-ready {
    overflow: hidden;
    position: fixed;
    .ems-prd-fixed-area {
        @include Position(fixed, left 0px top 0px);
        background: $white;
        z-index: 99;
        width: 100%;
        height: 100%;
        &-closed {
            display: inline-block;
        }
        &-top {
            padding-top: 50px;
            background: #fff;
        }
        .yorumOku {
            display: none;
        }
    }
    .ems-tab-detail-product {
        @include Position(static, null);
        height: auto;
        .ems-tab-inner {
            @include Position(relative, null);
        }
        &.item-2 { 
            .product-tab-head {
                li{
                    &.tab-1 {
                        background: $gray;
                        color: $white;
                        &.selected {
                            background: $light-green;
                        }
                    }
                    &.tab-2 {
                        background: $gray;
                        color: $white;
                        &.selected {
                            background: $light-pink;
                        }
                    }
                }
            }
        }
    }

    .product-tab-head li.tab-1 {
        &.selected:after {
            content: '';
            @include Position(fixed, left 0px top 0px);
            width: 100%;
            height: 100%;
            background: $light-green;
            z-index: -1;
        }
    }
    

    .product-tab-head li.tab-2.selected:after {
        content: '';
        @include Position(fixed, left 0px top 0px);
        width: 100%;
        height: 100%;
        background: $light-pink;
        z-index: -1;
    }
}