/* Icomoon
 =================================== */
@include fontFace('icomoon', '/styles/fonts/icomoon/icomoon', normal, normal);


/* Font Family Roboto
 =================================== */
@include fontFace('regular', '/styles/fonts/roboto/roboto-regular', 400, normal);
@include fontFace('medium', '/styles/fonts/roboto/roboto-medium', 500, normal);
@include fontFace('bold', '/styles/fonts/roboto/roboto-bold', 600, normal);

/* Font Family Baloo
 =================================== */
 @include fontFace('baloo', '/styles/fonts/baloo/baloo-regular-webfont', 400, normal); 


/* Font variables
=================================== */
$regular:                                        'regular';
$medium:                                         'medium';
$bold:                                           'bold';
$baloo:                                          'baloo';

.ff-baloo {
    font-family: $baloo !important;
}

.ff-medium {
    font-family: $medium !important;
}

.ff-bold {
    font-family: $bold !important;
}