.site-pages-home {
    .swiper-container{display: none;}
    .swiper-container.plugins-active{display: block;}
}

.grid-banner-box {
    a { 
        display: block;
    }

    .hp-img {
        overflow: hidden;
        >a {
            @extend .b-el;
            width: 100%;
            height: 100%;
        }
    }

    .dark-theme {
        .grid-banner-box-text {
            color: $very-dark-gray;
        }
    }

    .light-theme {
        .grid-banner-box-text {

            .title-1,
            .title-2 {
                color: $white;
            }
        }
    }

    .mb-mt-20 {
        @include space(margin, top, $large);
    }
}

.fm-r {
    font-family: $regular;
}

.fm-m,
.fm-24-32 {
    font-family: $medium;
}
 
.fm-b {
    font-family: $bold;
}

.fm-24-32 {
    color: $white;
}

.fbloo {
    font-family: $baloo;
}

.b-el {
    display: block;
}

.ib-el {
    display: inline-block;
}

.grid-banner-box-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;
    width: 75%;

    .title-2 {
        @include space(margin, top, 10px);
    }

    &.right {
        text-align: right;
    }

    &.left {
        text-align: left;
    }
}

.grid-banner-box-text-alternate {
    width: 80%;
    top: 20px;
    left: 20px;
    bottom: inherit;
}

.btnBannerDefault {
    width: 100%;
    max-width: 170px;
    @extend .btn-alternative;
    @include space(margin, top, 15px);
    @include space(padding, top, 11px);
    @include space(padding, bottom, 11px);
}

.grid-banner-box-double-thn {
    .btnBannerDefault {
        @include space(margin, top, 40px);
    }
}

.scroll-layer {
    //padding-top: 135px;
    height: 100vh;
    &[rel$="tab1"] {
        background: #FEDDE4;
    }
    &[rel$="tab2"] {
        background: #DFC3E8;
    }
    &[rel$="tab3"] {
        background: #F4EACB;
    }
    &[rel$="tab4"] {
        background: #C6E5F7;
    }
    &[rel$="tab5"] {
        background: #D8EFD2; 
    }
}

/* Sticky Main Manü */

.grid-colmn-a {
    &.position-sticky {
        @include Position(Sticky, top 60px);
        position: -webkit-sticky;
        z-index: 2;
        margin-top: -1px;
    }
}

.main-tab-sticky {
    background: $white;
    > ul{
        position: relative;
        height: 75px;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }
    .pointer {
        bottom: 0;
        left: 0;
        position: absolute;
        background: #f56aa9;
        height: 3px;
        width: 200px;
        opacity: 0;
        transition: all 0.3s ease;
        &[data-rel="tab1"]{ background: #f56aa9;}
        &[data-rel="tab2"]{ background: #9249a8;}
        &[data-rel="tab3"]{ background: #ffd756;}
        &[data-rel="tab4"]{ background: #3c89ce;}
        &[data-rel="tab5"]{ background: #83b83f;}
    }
    ul {
        @include flex;
        justify-content: space-around;
        align-items: center;
        max-width: 940px;
        margin: 0 auto;
        li {
            @include Position(relative, null);
            @include space(padding, all, $small $small $xs $small);
            text-align: center;
            a {
                @include Position(relative, null);
                span {
                    line-height: 25px;
                    font-family: $medium;
                    margin: 0;
                    color: $color-4;
                }
            }
            i {
                width: 30px;
                height: 30px;
                font-size: 35px;
                color: $white;
                //background: $color-4; 
                line-height: 34px;
                border-radius: 14px;
                display: block;
                margin: 0 auto;
                @include Position(relative, null);
                @include transition (all .2s ease);
                &:before {
                    width: 30px;
                    height: 30px;
                    line-height: 33px;
                    margin-left: -2px;
                    @include Position(relative, null);
                    z-index: 1;
                }
                &:after {
                    content: '\e923';
                    font-family: 'icomoon';
                    font-size: 30px;
                    @include Position(absolute, left 0 right 0 top 0);
                    color: $dark-slate-blue;
                }
            }
            &:after {
                @include transition (all .2s ease);
            }
            &.selected {
                i:after {
                    color: $color-18;
                }
                span {
                    color: $dark-slate-blue;
                }
                &:after {
                    content: '';
                    @include Position(absolute, bottom 0 left 0);
                    width: 100%;
                    height: 3px;
                    background: $color-18;
                    display: none;
                }
                &[rel$='tab2'] {
                    i:after {
                        color: $color-5;
                    }
                    &:after {
                        background: $color-5;
                    }
                }
                &[rel$='tab3'] {
                    i:after {
                        color: $vivid-yellow;
                    }
                    &:after {
                        background: $vivid-yellow;
                    }
                }
                &[rel$='tab4'] {
                    i:after {
                        color: $cool-blue;
                    }
                    &:after {
                        background: $cool-blue;
                    }
                }
                &[rel$='tab5'] {
                    i:after {
                        color: $vivid-orange;
                    }
                    &:after {
                        background: $vivid-orange;
                    }
                }
            }
            &[rel$='tab1'] {
                i:before {line-height: 31px;}
            }
        }
    }
    &-btn {
        @include Position(fixed, bottom 15px);
        width: 100%;
        text-align: center;
        z-index: 9;
        @include transition(all .3s ease); 
        a {
            width: 50px;
            height: 50px;
            background: $vivid-orange;
            border-radius: 17px;
        }
        i {
            font-size: 35px;
            line-height: 50px;
            color: $white;
        }
        &.activeted {
            -webkit-transform:rotate(180deg);
            -moz-transform:rotate(180deg); 
            -o-transform:rotate(180deg);
            transform: rotate(180deg);
        }
    }
    &.activeted {
        .pointer{
            opacity: 1;
        }
    }
}

/* İkili Banner */

.box-colmn-banner {
    @include grid;
    grid-column-gap: 30px;
    @include space(margin, bottom, 30px);
    @include Position(relative, null);  
    &.col2 {
        grid-template-columns: 1fr 1fr;
        .box-colmn-banner-product {
            flex: 4;
        }
        .box-colmn-banner-content {
            .title {
                font-size: 28px;
            }
            .title, .subTitle {
                width: 100%;
            }
        }
    }
    &.col3 {
        grid-template-columns: 1fr 1fr 1fr;
        .box-colmn-banner-bottom {
            @include space(padding, all, 0 10px 40px 20px);
        }
        .box-colmn-banner-product {
            flex: 3;
        }
        .box-colmn-banner-content {
            padding-right: 10px;
            .title {
                width: 100%;
            }
            .subTitle {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

.box-colmn-banner-wrp {
    @include Position(relative, null);
}

.box-colmn-banner-content {
    flex: 5;
    @include space(padding, right, $large);  
    .title {
        color: $cool-blue;
        @include space(margin, bottom, 10px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 80%;
        font-size: 24px;
    }
    .subTitle {
        @include space(margin, bottom, 25px); 
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 80%;
    }
    .subLinkWrp {
        min-height: 33px;
    }
    .subLink {
        background: $white;
        color: $color-5;
        border-radius: 10px;
        font-family: $bold;
        line-height: 13px;
        @include space(padding, all, 10px 15px); 
        @include transition (all .2s ease);
        display: inline-block;
        i {
            float: right;
            margin-left: 13px;
            color: $cool-blue;
        }
        &:hover {
            background: $color-5;
            color: $white;
            i {
                color: $white; 
            }
        }
    }
}
.box-colmn-banner-product {
    flex: 1;
    @include flex;
    justify-content: center;
}

.box-colmn-banner-bottom { 
    @include Position(absolute, bottom 0px);
    @include space(padding, all, 0 50px 50px 50px); 
    @include flex;
    align-items: flex-end;
    width: 100%;
}

/* Anasayfa Slider */

.general-slider {
    @include space(margin, bottom, 30px);
    .swiper-slide {
        width: 100% !important; 
        height: calc(100vh - 100px);
    }
    .swiper-pagination-bullets {
        bottom: 50px;
        .swiper-pagination-bullet {
            background: $color-36 !important;
            &:before {
                border: 4px solid $cool-blue;
                left: -3px;
                top: -3px;
            }
            &-active {
                background: $cool-blue !important;
            }
        }
    }
    .box-colmn-banner-img {
        .show-mobile {
            height: calc(100vh - 60px);
            img {display: none;}
        }
    }
    .swiper-button-next, .swiper-button-prev {display: none;}
    .title {
        font-family: $medium;
        font-size: 26px;
        line-height: 30px;
        width: 100%;
    }
    .subTitle {
        width: 100%;
        font-size: $small-15;
    }
    .box-colmn-banner-bottom { 
        @include space(padding, all, 0 30px 30px 30px);
        align-items: center;
        bottom: 100px;
    }
    .box-colmn-banner-content {
        flex: 3;
    }
    &.swiper-arrow {
        .swiper-button-next, .swiper-button-prev {
            display: inline-block;
            background: none;
            cursor: pointer;
            i {
                &::before {
                    color: $bright-blue;
                }
            }
            &:hover  {
                i {
                    &::before {
                        color: $cool-blue;
                    }
                }
            }
        }
    }
}

/* Anasayfa Liste Görsel */

.main-list-container { 
    @include Position(relative, null);  
    @include space(margin, bottom, 0px)
    .main-tab-list-swiper { 
        @include fluid-type(margin-top, 20px, 2000px, 20px, 30px);
        @include space(padding, all, $reset 20px); 
        width: 100%;
        overflow: hidden;
        .swiper-inner {
            overflow: visible;
        }
        .swiper-slide {  
            @include space(padding, all, $reset $reset $large $reset);
            height: auto;
            width: 185px;
        }
        .item-head {
            color: $very-dark-g !important;
            font-family: $regular !important;
            font-size: 15px !important;
        }
        .item-link i {
            font-size: 14px !important;
        }
        .item-text-wrap {
            @include space(padding, all, $small $xMedium $large $xMedium);
            @include space(margin, all, $reset);
        }
        .blog-post-item {
            box-shadow: 1px 2px 4px 0 rgba(246, 123, 180, 0.15);
        }
        .blog-post-wrp {
            padding: 0 7px;
        }
    }
    .main-tab-cat-swiper {
        padding: 0 !important;
        .swiper-slide {  
            width: auto;
        }
        .swiper-button-prev, .swiper-button-next {display: none !important;}
    }
    .swiper-button-next, .swiper-button-prev {
        width: 50px; 
        height: 50px; 
        background-color:$white; 
        margin-top: 0px;
        display: none;
        i:before {
            color: $cool-blue; 
            font-size: 25px; 
            line-height: 50px;
        }
    }
    .swiper-button-next {right: 20px;}
    .swiper-button-prev {left: 20px;}

    .main-list-bg {
        img {
            max-height: 850px;
        }
    }
    .main-list-wrp {
        @include Position(absolute, top 0 right 0 left 0);
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 250px;
        .main-list-title {
            @include fluid-type(font-size, 500px, 2000px, 30px, 54px);
            font-family: $baloo;
            color: $cool-blue;
            line-height: 60px;
            display: none;
            @include space(padding, all, $reset 30px);
            @include space(margin, bottom, 20px)
        }
        .main-list-content {
            @include fluid-type(font-size, 500px, 2000px, 18px, 22px);
            line-height: 28px;
            display: block;
            @include space(margin, bottom, 30px)
            @include space(padding, all, $reset 30px);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .main-list-cat {
            display: none;
            @include space(padding, all, $reset 30px);
            ul {
                @include flex;
                li {
                    @include space(margin, right, 10px)
                    a {
                        background: $white;
                        color: $color-5;
                        border-radius: 10px;
                        font-family: $bold;
                        line-height: 13px;
                        @include space(padding, all, 10px 15px); 
                        display: inline-block;
                        @include transition (all .2s ease);
                        &:before {
                            content: "\e916";
                            font-family: 'icomoon';
                            display: inline-block;
                            float: right;
                            margin-left: 13px;
                            color: $cool-blue;
                            position: relative;
                            top: 1px;
                        }
                        &:hover {
                            background: $color-5;
                            color: $white;
                            &::before {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    .item-1, .item-2, .item-3, .item-4 { 
        .swiper-button-next, .swiper-button-prev {
            display: none;    
        }
    }
}

@media screen and (max-width:$breakpoint-small){
    .main-list-container { 
        .main-list-wrp {
            padding-bottom: 50px;
        }
    }
}

.blog-post-item-home { 
    border:0 !important; 
    border-radius: 0 !important;
    margin: 0 !important;
}

.main-list-temp {
    display: block;
}

/* Mobil Anasayfa Menü */

.main-minor-menu {
    @include space(padding, all, $large);
    display: inline-block;
    width: 100%;
    @include Position(relative, null);
    > span {
        color: $cool-blue;
        text-align: center;
        font-size: $small-16;
        @include space(padding, all, $small $reset);
        display: block; 
    }
    ul {
        li {
            @include space(padding, all, 10px);
            width: 100%;
            float: left; 
            display: table;
            a { 
                width: 100%;
                height: 100%;
                min-height: 118px;
                border-radius: 5px;
                border: 1px solid $color-4 ;
                box-shadow: 1px 2px 4px 0 rgba(246, 123, 180, 0.15);
                font-size: $small-18;
                @include space(padding, all, $large $xMedium $reset $xMedium);
                background: $white;
                position: relative;
                z-index: 1;
                display: table-cell;
                vertical-align: bottom;
                span {
                    line-height: 25px;
                }
                img {
                    width: auto;
                    float: right;
                }
            }
            &.wide-double {
                width: 50%;
                a {
                    max-height: 118px;
                }
            } 
        }
    }
    .leaf-right-top {
        right: 10px;
        top: 0;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .ems-page-home,
    .ems-page-home body{
        overflow: hidden !important;
        height: 100vh;
        position: fixed;
        left:0;
        top:0;
    }
    .ems-page-home .site-pages-home{
        position: relative;
        overflow-y: scroll;
        height: 100vh;
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory; 
        scroll-snap-type: mandatory; 
        -ms-scroll-snap-type: mandatory; 
        -webkit-scroll-snap-type: mandatory; 
        -webkit-scroll-snap-destination: 0% 0%; 
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    
    .ems-page-home .grid-colmn-a.position-sticky{top:0px !important;}

    .ems-page-home .site-footer {display: none;}
    
    .ems-page-home .site-pages-home > div[rel],
    .ems-page-home .site-pages-home > .grid-colmn-c,
    .ems-page-home .site-pages-home > .grid-colmn-d{
        height: 100vh;
        scroll-snap-align: start; 
        scroll-snap-coordinate: 0% 0%;
        -webkit-scroll-snap-coordinate: 0% 0%; 
    }
}

/*Abonelik LP
=================================
*/
.subscriber-banner-grid{
    //padding-top: 200px;
    position: relative;
}

.subscriber-banner-grid-inner{
    .text{
        padding: 20px;
        p{   

        }
        p.first{
            font-size: 24px;
            font-family: $bold;
            padding-bottom: 15px;
        }
        p.last{
            font-size: 15px;
            color: $very-dark-g;
        }
    }
    .images{
        margin-left: auto;
        margin-right: auto;
        //width: 105px;
        padding: 20px;
        img{
            //max-width: 103px;
        }
    }
    .slide{
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        .swiper-container .swiper-inner{
            overflow: visible;
        }
    }
}

/*Single Banner*/
.subscriber-banner-full{
    background: $color-17;
    margin-top: 50px;
    padding-top: 50px;
}

.subscriber-banner-full-inner{
    h2, h3{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    h3{
        font-family: $bold;
        margin-bottom: 50px;
        font-size: 28px;
    }
}

/*Single Banner 1200px
=============
*/
.site-pages-subscriber{
    .grid-banner-box-single > div:nth-child(1){
        .grid-banner-box-text{
            top: inherit;
            left: 20px;
            right: inherit;
            bottom: 20px;
            text-align: left;
            img {
                max-width: 100px;
            }
            .title-1 {
                font-family: $medium;
                font-size: 24px;
                color: $cool-blue;
            }
            .title-2{
                font-size: 15px;
            }
            .btnBannerDefaultAbone{
                width: 100%;
                max-width: 160px;
                background: $color-5;
                margin-top: 15px;
                border-radius: 10px;
                font-family: $regular;
                font-size: 13px;
                text-transform: uppercase;
                &:after {
                    content: '\e916';
                    font-family: 'icomoon';
                    font-size: 12px;
                    color: $white;
                    margin-left: 10px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .widget{
        .swiper-title{
            margin-top: 30px;
            text-align: center;
            span{
                font-family: $bold;
                font-size: 28px;
            }
        }
        .swiper-slide{
            width: 50%;
        }
        .swiper-inner{
            overflow: visible;
        }
    }
    .urunListe_adet, .urunListe_sepet {display:none;}
    .urunListe_urunAboneOl .btnDefault {margin-left: 0;}
}

.abonelik-grid-grup{
    padding: 20px;
    img, .lft{
        display: inline-block;
        vertical-align: middle;
    }
    img{
        width: auto;
        max-width: 67px;
        margin-right: 15px;
    }
    .lft{
        width: calc(100% - 90px);
    }
    .first{
        margin-bottom: 30px;
    }
    ul li{
        font-size: 15px;
        position: relative;
        padding-left: 15px;
        &:before{
            content:'';
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: #000;
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}

/*Abonelik LP Slider */
.swiper-container-abonelik{
    .swiper-title{
        font-size: 24px;
        font-family: $bold;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .swiper-slide{
        width: 235px;
        padding: 10px;
    }
    .spc-text{
        max-width: 180px;
        img{
            width: 48px;
            margin-bottom: 15px;
        }
        strong{
            font-weight: normal;
            font-family: $medium;
            font-size: 20px;
        }
        span{
            font-size: 14px;
            margin-top: 10px;
        }
    }
}